<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<%
(function(){
  //env is declared in as an empty array in our harp.json
  //we will put 'environments' into it that tell us what 
  //we are rendering a page for. e.g. production/development/test/mobile etc
  env.push(environment);

  //current is available to a template and contains 'path' and 'source' properties
  //if we are rendering something from /test/ add test to the env
  if (current.path[0] == 'test') env.push('test');

  //regexs to help recognize and manipulate files 
  var _dataFile = /\.json$/;
  var jsFile = /\.(coffee|js)$/;
  var cssFile = /\.(less|styl|css)$/;

  //given a path 'foo/bar/baz' iteratively look up properties: public[foo][bar][baz]
  //usefull because _data.json data made available as public.path.to._data
  function resourceFor(path){
    var resource;
    var parts = path.split('/');
    for (var i in parts){
      resource = (resource || public)[parts[i]];
    }
    return resource;
  }

  //get the _data.jason for the given dir, 
  //included files listed under env values we are interested in
  function includeDir(path){
    var r = resourceFor(path)._data;
    var files = r.files || [];
    for (var i in files){
      includeFileWithPath(files[i], path);
    }
    for(var e in env){
      files = (r[env[e]] && r[env[e]].files) || [];
      for (var i in files){
        includeFileWithPath(files[i], path);
      }
    }
  }

  //if the included file isn't local, don't alter it.
  //if it's in public, strip the public prefix and prepend the path
  function includeFileWithPath(file, path){
    if(/^http:/.test(file)){
      includeFile(file);
    } else {
      includeFile((path + '/' + file).replace(/^public/,''));
    }
  }

  //include something that might be a css/js/directory resource.
  function includeFile(file){
    if (jsFile.test(file)){
      jsFiles.push(file.replace(jsFile, '.js'));
    } else if (cssFile.test(file)){
      cssFiles.push(file.replace(cssFile, '.css'));
    } else if (_dataFile.test(file)){
      includeDir(file.replace('/_data.json',''));
    } else { //is a directory
      includeDir(file);
    }
  }

  //kick it off by including public css and js
  includeFile('public/css');
  includeFile('public/js');
})();
%>

<head>
  <title>Application</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <% for (var i in cssFiles) { -%>
    <link rel="stylesheet" href="<%= cssFiles[i] %>">
  <% } -%>
</head>

<body>
<%- yield -%>

<% for (var i in jsFiles) { -%>
  <script type="text/javascript" src="<%= jsFiles[i] %>"></script>
<% } -%>
</body>
</html>
